
body{
  background-color: #FBFBFB;
}


.app-header {
  background-color: #00736C ;
  height: 133px;  /*  wysokość boxa, poniżej line height da nam teks po środku */
  line-height: 133px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-style: italic;
  /* border-radius: 20px;           --- Zaokrglenia*/
  text-shadow: 2px 2px 4px rgba(24, 21, 21, 0.5);
    /* overflow: auto;    - jak jest za dużo tekstu w danym elemencie tworzy scrol bar */
}



.content {
  background-color: white;
  padding: 20px;
  min-height: 500px;  /* min-height - minimalna wysokość, przydatne w content jak się pojawiają nowewpisy */
  width: 970px;
  border: 1px solid #C5C5C5;

}
/*.content:hover {
  transform: scale(1.02); /* Powiększenie po najechaniu * /
} */

.first {
  
    background: linear-gradient(45deg, #041eb5, #3d9ab6);
    min-height: 20vh;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 4vmin);
    color: #de0a0a;
    padding: 10px 20px;
    text-align: left;
    box-shadow: 10px 8px 8px -8px #ec0a0a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);

}

/* Stylizacja nawigacji */
.navigation {
  background-color: #f8f8f8;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
}

.nav-links {
  list-style-type: none; /* Usunięcie kropek z listy */
  margin: 0;
  padding: 0;
  display: flex; /* Ustawienie linków w jednym wierszu */
  justify-content: center; /* Wycentrowanie linków */
}

.nav-links li {
  margin: 0 20px; /* Dodanie odstępów między linkami */
}

.nav-link {
  text-decoration: none; /* Usunięcie podkreślenia */
  font-size: 18px; /* Ustawienie wielkości czcionki */
  color: #333; /* Kolor tekstu */
  padding: 8px 16px; /* Dodanie odstępów wewnętrznych */
  border: 2px solid transparent; /* Transparentna obwódka */
  transition: all 0.3s ease; /* Płynne przejście */
}

.nav-link:hover {
  background-color: #00736C; /* Zmiana koloru tła po najechaniu */
  color: #fff; /* Zmiana koloru tekstu po najechaniu */
  border-radius: 5px; /* Zaokrąglenie rogów */
  border-color: #162c16; /* Dodanie koloru obwódki */
}




