.new-entry-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 0;
}

.new-entry-input {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}



.add-entry-button {
    padding: 10px 20px;
    background-color: #00736C ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
    
}

.add-entry-button:hover {
    background-color: #08524d ;
    transform: scale(1.1);
}

.new-entry-form textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    transition:height 0.5s;  /*animacja rozciągnięcia input boxa */
    transition:border-color 0.5s;
    height: 2rem;
    border-color: #c1c1c1;
  }
  
 .new-entry-author-input:focus-visible{
 
  border-color: #0c647f;
  outline: none;
  } 

  /*.new-entry-author-input.focused{
    height: 2rem;
    border-color: #0c647f;
    outline: none;
  } */

  .new-entry-author-label {
    display: flex;
    -ms-flex-align: center;
    width: 100%;
    margin-bottom: 5px; 
    font-size: 14px;
    color: #040505;
    text-align: left; 
    justify-content: space-between;
}

.new-entry-author-input {
    width: 20rem;
    padding: 0.5rem;
    margin-bottom: 0.4rem; 
    margin-left: 5px;
    border: 1px solid #080606;
    border-radius: 5px;
    font-size: 16px;
    transition:height 0.5s;  /*animacja rozciągnięcia input boxa */
    transition:border-color 0.
   
    
}


.add-entry-button:disabled {
    background-color: #a8a8a8;
    cursor: not-allowed;
}

.new-entry-input.focused {
  height: 5rem;
  border-color: #0c647f;
  outline: none;
}
