.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page-numbers {
  display: flex;
  margin: 0 10px;
}

.page-number-button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 14px;
}

.page-number-button.active {
  background-color: #00736C;
  color: white;
}

.page-number-button:hover {
  background-color: #ddd;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
