/* Stylizacja formularza wyszukiwania */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 0;
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  
  /* Stylizacja inputa wyszukiwania */
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.5s ease-in-out, height 0.5s ease;
    height: 10px; /* Domyślna wysokość inputu */
  }
  
  /* Powiększenie inputa po kliknięciu (focus) */
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    height: 20px; /* Wyższy input */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #00736C;
    outline: none;
  }
  
  .search-button {
    height: 40px; /* Wyższy przycisk */
    padding: 10px 20px;
    background-color: #00736C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #005a4f;
  }
  
  .search-input:focus {
    height: 30px; /* Powiększenie inputa */
    border-color: #0c647f;  /* Kolor jak w focused input */
    outline: none;
  }
  
  /* Stylizacja przycisku wyszukiwania */
  .search-button {
    padding: 10px 20px;
    background-color: #a8a8a8; /* Domyślnie przycisk nieaktywny */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  }
  
  /* Aktywny przycisk wyszukiwania */
  .search-button.active {
    background-color: #00736C;
    cursor: pointer;
  }
  
  .search-button.active:hover {
    background-color: #08524d;
    transform: scale(1.1);
  }
  
  
  